<% include ../inc/header %>


<div class="ui grid" ng-controller="ListeMessageController">

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">

    <h2 class="ui header inverted blue segment">
      <i class="conversation icon"></i>
      <div class="content">
        <%= title %>
      </div>
    </h2>

      <div class="ui feed">
        <% messages.forEach(function(message){ %>
        <div class="ui link event">
          <div class="ui link content">
            <div class="ui link segment" ng-click="openMessage(<%=JSON.stringify(message)%>)">
              <a class="ui blue left ribbon label">
                <% if(message.typeMessage == "beacon") { %>
                <i class="bullseye icon"></i>
                <% } else { %>
                <i class="bell icon"></i>
                <% } %>
                <%=message.dateCreation%>
              </a>
              <h4 class="ui header">
                <%= message.titre %>
              </h4>
              <div class="date"><%= message.getPeriod %></div>
              <div class="meta">
                <i class="user icon"></i> <%= message.destinataires.length %> personnes contactées
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>

  </div>

  <div class="one wide column"><p></p></div>
</div>

<script type="text/ng-template" id="messageTemplate">
  <h1 class="ui sub header compact padded segment">{{message.titre}}</h1>
  <br>
  <section>
    <div class="ui segment" ng-bind-html="message.message">
    </div>
  </section>
  <br>
  <section class="ui grid">
      <div class="eight wide column">
        <div class="ui padding list segment">
          <div class="item" ng-repeat="destinataire in message.destinataires">
            {{destinataire}}
          </div>
        </div>
      </div>
      <div class="six wide column"></div>
  </section>
</script>

<% include ../inc//footer %>
