<% include ../inc/header %>

<div class="ui grid">

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">
    <h2 class="ui header inverted blue  segment">
      <i class="users icon"></i>
      <div class="content">
          <%= title%>
          <div class="sub header">
            <%= subtitle%>
          </div>
      </div>
    </h2>

    <div class="ui centered blue card">
      <div class="image">
        <img src="/img/avatar-homme.png">
      </div>
      <div class="content">
        <a class="header"><%= user.firstName%> <%= user.lastName%></a>
        <a class="description"><%= user.email%></a>
      </div>
    </div>

   <div>

   </div>
  </div>

  <div class="one wide column"><p></p></div>
</div>

<% include ../inc//footer %>
